<div class="col">
    <div class="card @(selectedCity.Equals(city, StringComparison.OrdinalIgnoreCase) ? "border-primary":"")">
        <img src="@($"/images/{city}.png")" class="card-imp-top" alt="..." />
        <div class="card-body">
            <button type="button" class="btn btn-primary" @onclick="@(()=>SelectCity(city))">@city</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string selectedCity { get; set; } = "Toronto";
    [Parameter]
    public string city { get; set; } = "";

    // Child to parent connection CityComponent to CityListComponent
    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    // Child to parent connection
    private void SelectCity(string cityName)
    {
        SelectCityCallback.InvokeAsync(cityName);
    }

}
